body{
	font-family: 'Open Sans', sans-serif;
	background: url(ie-grad.svg);
	z-index:auto;
	background-size: 100% 100%;
	background-attachment: fixed;
}
/* Custom Styles */
#header{
	height:100px;
	margin:-8px -8px 8px -8px;
	background: rgba(0,0,0,0.5);
	position:relative;
}
.border{
	height:1px;
	background:rgba(255,255,255,0.3);
}
.footerBorder{
	position:relative;
	top:-44px;
	opacity:0.5;
	filter:alpha(opacity=50);
}
#footer{
	height:48px;
	width:100%;
	margin:-8px -8px 8px -8px;
	background:rgba(0,0,0,0.65);
	-webkit-box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, .75);
	box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, .75);
	position:fixed;
	top:100%;
	margin-top:-48px;
	z-index: 10;
}
.content{
	background:rgba(230,230,230,1);
	padding:4px;
	margin-left:286px;
	background-image:url(corner.png);
	background-size:100px;
	background-repeat:no-repeat;
	background-position:right top;
	border: 1px solid #000000;
	-webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .75);
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .75);
}